 /*TODO: split and add namespaces*/
text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 11px sans-serif;
}

.axis path {
    display: none;
}
.x.grid .tick:first-of-type {
    display: none;
}

 .x.grid path {
    display: none;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid-background {
    fill: #ddd;
    x: -0.5;
}

.grid line,
.grid path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.grid .minor.tick line {
    stroke-opacity: .5;
}

.brush .extent {
    stroke: #000;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.chart-area .x.axis text {
    font: 15px sans-serif;
}

div#tooltip {
    position: fixed;
    text-align: left;
    min-width: 60px;
    padding: 2px 6px;
    font: 12px sans-serif;
    background: #2D7CAC;
    color: #BED6E4;
    border: 0;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}
